.text {
  margin-bottom: 2em;
  color: var(--dark);
}

.category {
  font-weight: bold;
  font-size: 18px;
}

.title {
  /* color: var(--green-main); */
  font-size: 3em;
  color: var(--green-main);
}

.subtitle {
  font-weight: 200;
  /* margin-top: 1em; */
  margin: 2rem 0 3rem 0;
  font-weight: bold;
  font-size: 18px;
}

.imgContainer {
  display: grid;
  place-items: center;
}

.img {
  width: 90%;
}

.videoSide {
  border-radius: 1em;
  box-shadow: 0px 3px 20px 0px rgba(204, 210, 223, 1);
  width: 100%;
}