.background {
  /* background: chocolate; */
  min-height: 90vh;
  display: grid;
  place-items: center;
}

.imgContainer {
  display: grid;
  place-items: center;
}

.img {
  width: 80%;
}

.text {
  margin-bottom: 2em;
}

.title {
  color: var(--orange-main);
  font-size: 3em;
}

.category {
  color: var(--green-main);
}


.backgroundFeat {
  background: var(--white-blue);
  padding: 3em 0;
}
.titleFeat {
  text-align: center;
  margin-bottom: 1em;
  color: var(--green-main);
}

.item {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-bottom: 1em;
  background: var(--blue);
  padding: 1em;
  border-radius: 8px;
}
.gap {
  gap: 1em;
  align-items: initial;
}



/* Video Hero Test */
.backgroundVideo {
  position: relative;
}

.videoContainer {
  /* background: red; */
}
.video {
  width: 100%;
}

.colorBackground {
  background: rgb(132 144 0 / 49%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.textVideo {
  position: absolute;
  bottom: 0;
  top: 30%;
  /* left: 0; */
  /* right: 0; */
  /* display: flex;
  align-items: center; */
}

.textVideoBack {
  background: rgb(242 247 255 / 79%);
  padding: 3em 2em;
  border-radius: 1em;
  width: fit-content;
}