.blog_title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--green-main);
  margin-bottom: 3rem;
}
.blog_title span {
  color: var(--dark-blue);
}


.blogHome {
  display: flex;
  gap: 1rem;

  /* background: blue; */

  /* max-width: 900px;
  margin: 0 auto; */
}

.blogHomeMain {
  /* background: grey; */
  padding-top: 7rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 2rem;
  max-width: 75%;
  /* max-width: 750px; */
  flex: 1;
  
  /* max-width: 650px;  */
}

.banner {
  background: var(--gradient1);
  width: 25%;

  padding-top: 12rem;
  padding-left: 2rem;
}

.bannerImage {
  background: var(--gradient1);
  /* height: 550px; */
  width: 85%;
  border-radius: 12px;
  overflow: hidden;
}
.bannerImage img {
  width: 100%;
}

.bannerMore {
  margin-top: 2.5rem;
  color: white;
}
.bannerMore h4 {
  color: var(--dark-blue);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.bannerMore ul {
  padding-left: 1.3rem;
}
.bannerMore li {
  list-style: disc;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}


.grid article:first-child {
  /* border: 1px solid forestgreen; */
  grid-column: 1 / 3;

  min-height: 400px;
}

.card {
  background: var(--white-blue);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  padding: 1.5rem;
  cursor: pointer;
}

.cardImage {
  width: 100%;
  height: 250px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.card a {
  font-weight: bold;
  transition: .2s;
}
.card a:hover {
  color: var(--green-main);
  transition: .2s;
}


@media screen and (max-width: 768px) {
  .blogHomeMain {
    padding-left: 1rem;
    padding-right: .2rem;
    max-width: 100%;
  }

  .banner {  
    padding-left: .9rem;
  }
  
  .bannerImage {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .blog_title {
    text-align: center;
  }

  .blogHome {
    display: block;
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    /* grid-template-columns: 1fr 1fr;
    gap: 1.5rem; */
  }

  .blogHomeMain {
    /* max-width: 90%;
    padding-right: 0; */
    padding-left: 0;
    
  }

  .banner {  
    display: none;
  }
}
