.background {
  padding: 5em 0 4em;
}

.text {
  
}

.logos {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  margin-top: 1em;
}

.logoImg {
  width: 135px;
}

.title {
  color: var(--green-main);
}


.carousel{
  text-align: center;
}


.carousel {
  /* background: var(--white-blue); */
  height: 250px;
  /* padding: 4em 0 5em ; */

}
.logoContainer {
  /* background: lawngreen; */
  display: grid;
  place-items: center;
}
.imageLogo {
  width: 250px;
}

@media screen and (min-width: 870px) {
  .layout {
    padding: 7em 0;

    flex-direction: row;

    justify-content: space-evenly;
  }

  .logos {
    flex-direction: row;
    margin-top: 0;
  }
}