.button {
  border: none;
  cursor: pointer;
  background: var(--green-main);
  border-radius: 8px;
  font-family: inherit;
  font-weight: bold;
  height: fit-content;
  padding: .5em 1.5em;
  font-size: .9em;
}
.button:hover {
  background: var(--green-sec);
}