.container {
  /* height: 250px; */
  background: var(--dark-blue);
  /* display: grid;
  place-items: center; */
  padding: 4em 0;
}

.content {
  color: var(--white);
  /* opacity: 0; */
  opacity: 1;
  /* transform: translateX(-100%); */
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.animation {
  opacity: 1;
  transform: translateX(0);
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.title {
  text-align: center;
  color: var(--green-main);
  margin-bottom: 1em ;
}

.gap {
  gap: 1em;
  align-items: flex-start;
}

.comment {
  background: var(--blue);
  color: var(--dark);
  padding: 2em;
  border-radius: 8px;
  margin-bottom: 3em;
  position: relative;
  text-align: center;
  box-shadow: 0px 30px 40px 0px rgba(204, 210, 223, 0.35);
}
.comment::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: var(--blue) transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}


.title_testimony {
  color: var(--orange-main);
}

.description {
  font-size: 14px;
  margin: .7em 0;
}

.position {
  text-align: center;
}

.client {
  font-size: 14px;
}

.position_text {
  font-size: 14px;
  margin: .5em 0;
}

@keyframes translateLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}