.footer {
  background: black;
  color: var(--white);
  padding: 3em 0 0;
  position: relative;
  font-size: 14px;
  cursor:default;
}

.footerLayout {
  width: 90%;
  margin: 0 auto;
}

.infoLayout {
  margin-bottom: 2.5em;
}


.title {
  /* color: var(--green-main); */
  margin-bottom: 1em;
}

.itemInfo {
  margin-top: 1.3rem;
  display: flex;
  align-items: flex-start;
  gap: .5rem;
  line-height: 1.6rem;
}

.itemInfo p {
  margin: 0;
}


.directions {

}
.directions h4 {
  margin-top: 2.5rem;
}


.links {
  /* display: flex;
  flex-direction: column;
  gap: 1.5em; */
}

.legalBackground {
  font-size: .9em;
  color: var(--white);
  background: black;
  /* width: 50vw; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.legalBackground span {
  width: 100px;
}


.legal {
  /* width: 50vw; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.link:hover {
  color: var(--orange-main);
  transition: .4s;
}

.copy {
  font-size: .8em;
}


.social {
  /* margin: 3.5em auto; */
  /* width: 55vw; */
  display: flex;
  gap: 2em;
  justify-content: center;
  /* justify-content: space-evenly; */
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3em 0;
}
.buttonLink {
  border: 1px solid white;
  width: 45%;
  display: flex;
  justify-content: center;
  padding: .5em 1em;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .legal {
    flex-direction: row;
    gap: 4em;
  }

  .legalBackground span {
    width: auto;
  }
}

@media screen and (min-width: 900px) {
  .footerLayout {
    display: flex;
    justify-content: space-between;
    width: 1000px;
  }

  .directions {
    display: flex;
    gap: 2.5em;
  }

  .directions h4 {
    margin-top: 0;
  }

  .directionsLayout {
    max-width: 450px;
  }

  .legalBackground {
    width: 1000px;
    margin: 0 auto;
    padding: 1.5em 0;
  }

}