.background {
  background: var(--gradient1);
  padding: 3em 0;
}

.layout {
  composes: layout from './Cta.module.css';
  margin-bottom: 3em;
  color: var(--dark);
}
.layout span {
  font-weight: bold;
  color: var(--orange-main);
}

.title {
  color: var(--white);
  font-size: 2.5em;
}

.imageContainer {
  display: grid;
  place-items: center;
  margin-top: 1em;
}
.image {
  width: 70%;
}

.column {
  width: 85vw;
  margin: 0 auto;
}

.text {
  color: var(--white);
}