.nav {
  display: none;
}

.navItem {
  margin-right: 1.5em;
  padding: 1.2em;
}
.navItem:hover {
  color: var(--orange-main);
  cursor: pointer;
}

.dropItem {
  /* background: red; */
  position: relative;
}
.menuDrop {
  position: absolute;
  top: 60px;
  left: 0;
  right: -60px;
  display: none;
  /* padding: 1.2em; */
  background: var(--white-blue);
  box-shadow: 0px 3px 20px 3px rgb(166 173 190);
  z-index: 1;
  transition: .4s;
}

.dropItem:hover .menuDrop {
  display: block;
}

.serviceTitle {
  border-bottom: 4px solid var(--green-main);
}

.serviceSection {
  /* border-bottom: 1px solid red; */
  padding: 1em;
  position: relative;
}

.serviceSection:hover {
  background: var(--blue);
}

.services {
  color: var(--dark-blue);
  position: absolute;
  top: 0px;
  left: 180px;
  width: 170px;
  background: var(--white-blue);
  border-left: 2px solid var(--dark-blue);
  display: none;
}

.serviceSection:hover .services {
  display: block;
}


/* .button {
  border: none;
  background: var(--green-main);
  border-radius: 8px;
  font-family: inherit;
  font-weight: bold;
  height: fit-content;
} */

.item {
  /* background: var(--white-blue); */
  padding: 1em .7em;
  transition: .4s;
}

.item:hover {
  background: var(--blue);
  padding-left: .5em;
  transition: .4s;
  font-weight: bold;
}

.item2 {
  padding: 1em .7em 1em 0;
  transition: .4s;
  color: var(--orange-main);
  font-weight: bold;
}

.item2:hover {
  background: var(--blue);
  border-radius: .7em;
  padding: 1em 3em;
  transition: .4s;
  font-weight: bold;
}

@media screen and (min-width: 890px) {
  .nav {
    display: flex;
  }
}